@charset "utf-8";
*{margin: 0;padding: 0;list-style: none;text-decoration: none;}
html,body{max-width: 1920px;max-height: 1080px;font-family: 'Noto Sans KR', sans-serif;}
body{overflow: hidden;}
#main,#about,#skill,#pf,#contact{background-color: #dee2e6;max-width: 1920px;height: 1080px;}
.hd{position: fixed;width: 100%;height: 100px;}
.menu{display: block;float: right;font-family: 'Bangers', cursive;margin-top: 30px;margin-right: 30px;}
.menu li{display: inline-block;margin-left: 30px;font-size: 2em;line-height: 50px;}
.it a{color: #145b88;}
.it:hover a{color: #152b52;border-bottom: 3px solid #fdcc8c;}
.tit_box{position: absolute;left:50%;top:50%;transform:translate(-50%,-50%);}
.tit{font-size:120px;font-weight:bold;font-family: 'Montserrat', sans-serif;
  text-align:center;color:#49669e;letter-spacing:0px;transition:1s;
  -webkit-transition:1s;-ms-transition:1s;position: relative;padding:10px;}
.tit:before,.tit:after{content:"";position: absolute;height: 7px;
  width: 0px;background:#49669e;transition:300ms;
  -webkit-transition:1s;-ms-transition:1s;opacity:0.3;left:50%;}
  .on a{color: #152b52;border-bottom: 3px solid #fdcc8c;}
.tit:before{bottom:0;}
.tit:after{top:0}
.tit:hover{letter-spacing:50px;}
.tit:hover:before,.tit:hover:after{width: 95%;opacity:1;left:0;}
.tit:hover{opacity:1;}
.a_tit{font-size: 3em;font-family: 'Anton', sans-serif;color: #697d9e;width: 300px;text-align: right;border-bottom: 3px solid #697d9e;}
.vs{background-image: url(./img/pro1.jpg);border: 8px solid #6187bd;width: 400px;height: 400px;background-repeat: no-repeat;background-size: cover;border-radius: 200px;margin-top: 10%;margin-left: 15%;box-shadow: 0 0 15px #333;}
.col{float: left;width: 640px;}
.col2{float: right;width: 900px;margin-top: -25%;}
.p_tit1{font-size: 2.5em;font-style: italic;font-weight: bold;border-bottom: 5px solid #49669e;width: 320px;font-family: Arial, Helvetica, sans-serif;}
.p_tit{font-size: 2.5em;font-style: italic;font-weight: bold;border-bottom: 5px solid #49669e;width: 200px;font-family: Arial, Helvetica, sans-serif;}
p{line-height: 30px;margin-top: 2%;font-size: 18px;color: #868e96;}
.s_box{margin-top: 10%;width: 100%;height: 100%;margin-left: 15%;}
.s_it{display: inline-block;color:#868e96;width: 30%;height: 15%;font-size: 23px;text-align: left;}

.th{font-size: 6em;margin-top: 150px;text-align: center;width: 800px;margin-left: 28%;color:#49669e;}
.git_fr,.email_fr{width: 800px;height: auto;margin: 0 auto;margin-top: 80px;}
.git,.em{font-size: 20px;color: #868e96;font-style: italic;}

.a:hover,.b:hover,.c:hover,.d:hover,.e:hover,.f:hover,.g:hover,.h:hover
{color: black;font-weight: 800;}
.a::after{content: "80%";display: block;width: 0;height: 2px;background-color: #1d3f7b;visibility: hidden;opacity: 0;transition: 0.5s;}
.a:hover:after{width: 28%;opacity: 100;visibility: visible;}
.b::after{content: "80%";display: block;width: 0;height: 2px;background-color: #1d3f7b;visibility: hidden;opacity: 0;transition: 0.5s;}
.b:hover:after{width: 28%;opacity: 100;visibility: visible;}
.c::after{content: "60%";display: block;width: 0;height: 2px;background-color: #1d3f7b;visibility: hidden;opacity: 0;transition: 0.5s;}
.c:hover:after{width: 23%;opacity: 100;visibility: visible;}
.d::after{content: "60%";display: block;width: 0;height: 2px;background-color: #1d3f7b;visibility: hidden;opacity: 0;transition: 0.5s;}
.d:hover:after{width: 28%;opacity: 100;visibility: visible;}
.e::after{content: "80%";display: block;width: 0;height: 2px;background-color: #1d3f7b;visibility: hidden;opacity: 0;transition: 0.5s;}
.e:hover:after{width: 36%;opacity: 100;visibility: visible;}
.f::after{content: "80%";display: block;width: 0;height: 2px;background-color: #1d3f7b;visibility: hidden;opacity: 0;transition: 0.5s;}
.f:hover:after{width: 36%;opacity: 100;visibility: visible;}
.g::after{content: "70%";display: block;width: 0;height: 2px;background-color: #1d3f7b;visibility: hidden;opacity: 0;transition: 0.5s;}
.g:hover:after{width: 25%;opacity: 100;visibility: visible;}
.h::after{content: "70%";display: block;width: 0;height: 2px;background-color: #1d3f7b;visibility: hidden;opacity: 0;transition: 0.5s;}
.h:hover:after{width: 25%;opacity: 100;visibility: visible;}
#tab_box { width:80%; height:540px; margin:auto;margin-top: 10%;}
#btn_box { width:100%; height:42px; overflow:hidden;margin-left: 8%; }
#btn_box label { display:block; width:25%; height:42px; text-align:center; color:#868e96;; 
  line-height:42px; float:left; font-weight:bold; cursor:pointer; font-size: 1.5rem;}
#btn_box label.active {background-color:#315472; color:#fff;}
#content_box { width:100%; height:400px; overflow:hidden;margin-left: 3%;}
#content_box .tab_con { display:none; margin-top: 8%;}
.con_img{margin-left: 3%;}
#content_box .tab_con.active { display:block; }
.copy{float: right;margin-top: 18%;margin-right: 15px;font-style: italic;color: #868e96;}
.con_img {position: relative;width: 400px;height: 300px;display: block;float: left;}
.con_img::after{content: ""; display: none; background-color: rgba(0,0,0,0.7); width: 400px; height: 300px; position: absolute; top: 0; left: 0;}
/* .con_img:hover::after{display: block;} */
